@import "tailwindcss";

@theme {
  --color-primary: #006837;
  --color-secondary: #f9a825;
  --color--tertiary: #ff7043;
  --color-neutral: #508169;
  --color-lightbg: #effff7;

  --font-jakarta: var(--font-jakarta);
}

@layer components {
  .yellowShadow {
    box-shadow: 0 0 5px 3px var(--color-secondary);
    border: 1px white solid;
  }
}

@layer utilities {
  .no_scrollbar::-webkit-scrollbar {
    display: none;
  }

  .navBtn {
    @apply px-4 py-2 md:px-2 md:py-4;
  }
}
