@import "tailwindcss";

@theme {
  --color-primary: #006837;
  --color-secondary: #f9a825;
  --color-tertiary: #ff7043;
  --color-neutral: #508169;
  --color-lightbg: #effff7;

  --font-jakarta: var(--font-jakarta);
}

@layer components {
  .yellowShadow {
    box-shadow: 0 0 5px 3px var(--color-secondary);
    border: 1px white solid;
  }
}

@layer utilities {
  .no_scrollbar::-webkit-scrollbar {
    display: none;
  }

  .page-pad {
    @apply px-4 md:px-28;
  }

  .full-bleed {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  .navBtn {
    @apply px-4 py-2 md:px-2 md:py-4;
  }
  .hoverEffect {
    @apply md:hover:border-primary md:hover:-translate-y-1 transition-all duration-200;
  }

  .pastriesTitle {
    @apply text-primary text-lg font-bold;
  }
  .pastriesDesc {
    @apply text-sm text-neutral;
  }

  .menuCategoryBtn {
    @apply rounded-4xl md:rounded-2xl text-xs md:text-lg bg-primary/40 px-3 py-1 active:bg-primary active:scale-90 active:text-white md:hover:bg-primary md:hover:text-white shadow-md transition-all ease-in;
  }
}

.filter-container {
  scrollbar-width: none;
}
