@import "tailwindcss";

@theme {
  --color-primary: #006837;
  --color-secondary: #f9a825;
  --color--tertiary: #ff7043;
  --color-neutral: #508169;
  --color-lightbg: #effff7;

  --font-jakarta: var(--font-jakarta);
}

@layer components {
  .navBtn {
    padding: 1rem 0.5rem;
  }
}
