<div class="h-140 relative">
  <div
    class="absolute inset-0 bg-linear-to-r from-primary/30 from-50% to-transparent"
  >
  </div>

  <div class="h-full">
    <img src="images/spilling.jpg" alt="" class="bg-cover h-full w-full" />
    <div class="z-10 absolute top-1/4 left-0 text-white px-6 flex flex-col">
      <p class="bg-secondary rounded-2xl text-white px-2 py-1 w-fit">
        Radian Vitality in every Sip
      </p>
      <p class="text-5xl w-80 font-bold">
        Savor the <span class="text-secondary">Radian Oasis</span>
      </p>
    </div>
  </div>
</div>
